
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Tem/assets/css/header.css">
    <link rel="stylesheet" href="../Tem/assets/css/base.css">
    <link rel="stylesheet" href="../Tem/assets/css/grid.css">
    <link rel="stylesheet" href="../Tem/assets/css/style.css">
    <link rel="stylesheet" href="../Tem/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../Tem/assets/css/all.min.css">
    <script src='../Tem/assets/js/a076d05399.js' crossorigin='anonymous'></script>
    <title>Laptop Hoàng Phong</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="../jjs/jquery-1.7.2.min.js"></script>
    <script src="../jjs/superfish.js"></script>
    <script src="../jjs/jquery.scrolltotop.js"></script>
</head>

<body>

    <partial name="Header" />




 @RenderSection("menu",true)

    <div id="renderbody">
        @RenderBody()
 </div>

    <partial name="Footer" />

</body>

</html>