<main class="main">
    <header class="header">
        <nav class="navbar">
            <div class="grid wide">
                <nav class="nav row">
                    <div class="col l-2 m-6 c-6">
                        <div class="header__logo">
                            <a href="">
                                <img src="../Tem/assets/img/logo.png" alt="" class="header__logo-img">
                            </a>
                        </div>
                    </div>
                    <div class="col l-8 m-0 c-0">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="" class="nav__item-link">
                                    Trang chủ
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__item-link">
                                    Giới thiệu
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__item-link">Laptop </a>
                                <ul class="subnav">
                                    <li class="subnav__item">
                                        <a href="" class="subnav__item-link">Laptop Gaming</a>
                                    </li>
                                    <li class="subnav__item">
                                        <a href="" class="subnav__item-link">Laptop Đồ Hoạ</a>
                                    </li>
                                    <li class="subnav__item">
                                        <a href="" class="subnav__item-link">Laptop Mỏng Nhẹ</a>
                                    </li>
                                    <li class="subnav__item">
                                        <a href="" class="subnav__item-link">Khác</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__item-link">Linh kiện</a>
                                <ul class="subnav">
                                    <li class="subnav__item">
                                        <a href="" class="subnav__item-link">RAM</a>
                                    </li>
                                    <li class="subnav__item">
                                        <a href="" class="subnav__item-link">Ổ cứng</a>
                                    </li>
                                    <li class="subnav__item">
                                        <a href="" class="subnav__item-link">Màn Hình</a>
                                    </li>
                                    <li class="subnav__item">
                                        <a href="" class="subnav__item-link">Pin, Sạc</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="search-text">
                            <input type="search" name="Tìm kiếm" placeholder="Tìm kiếm của bạn..">
                            <a href="" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                    </div>
                    <div class="GioHang" style="color: white; font-size: 30px; padding-left: 30px;">
                        <a href="" class="nav__item-link"><i class="fa-brands fa-opencart"></i></a>

                    </div>
                    <div class="login" style="color: white; font-size: 30px; padding-left: 30px;">
                        <a href="" class="nav__item-link"><i class='fas fa-user-circle'></i></a>

                    </div>
                </nav>
            </div>
        </nav>
    </header>
</main>